Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Limiter==3.5.0
Flask-SocketIO==5.4.0
Eventlet==0.33.3
Werkzeug==3.0.1
APScheduler==3.10.4
yt-dlp==2025.10.14
gunicorn==20.1.0
psycopg2-binary==2.9.7