<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DownloadTube{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='downloadtube-icon.png') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">
            <img src="{{ url_for('static', filename='downloadtube-icon.png') }}" alt="Logo">
            <span>DownloadTube</span>
        </a>
        <ul class="navbar-menu">
                <li><a href="{{ url_for('download') }}">Download</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <main class="main-wrapper">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 Code And Cosmos. All Rights Reserved.</p>
    </footer>
</body>
</html>